[Unit]
Description=Smart Home Audio Management
Requires=mysql.service sound.target
After=multi-user.target mysql.service sound.target
 
[Service]
Type=simple
User=punisher
Group=punisher
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse/"
ExecStart=/home/punisher/Documents/courses/Embsys/project/build/bin/audio_manager
WorkingDirectory=/home/punisher/Documents/courses/Embsys/project/build/
StandardOutput=journal+console
StandardError=journal+console
Restart=on-failure 

[Install]
WantedBy=multi-user.target
